{{ header }}
<div id="product-product" class="container">
<object width="550" height="400" type="application/x-shockwave-flash" data="/flash/DiyPhone.swf" id="test2" style="visibility: visible;">
	<param name="movie" value="/flash/DiyPhone.swf" />
	<param name="allowScriptAccess" value="always" />
	<param name="wmode" value="transparent" />
	<param name="allowFullscreen" value="true" />
	<param name="quality" value="high" />
	<param name="flashvars" value="productId={{ productId }}&uid={{ uid }}" />
</object>
</div>
<script type="text/javascript"><!--
//--></script> 
{{ footer }} 
